<!DOCTYPE html>
<html lang="pt-br">
  <%- include('../../partials/head') %>
  <body>
    <%- include('../../partials/homeHeader') %>

    <main class="container">
      <div class="card">
        <div class="card-header">
            <h1 class="fs-3"><%= article.title %></h1>
          </div>
          <div class="card-body">
         <%-  article.body %>
         
          </div>
      </div>
    </main>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
