<header class="bg-success mb-5">
    <nav class="navbar p-2">
            <a href="/" class="navbar-brand fs-2">Blog com node</a>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/admin/categories" class="nav-link">Categorias</a>
                </li>
            </ul>
    </nav>
</header>